//colors
$off-black: #20222b;
$off-white: #fff;
$dark-color:#333745;
$purple-color:#8357c5;
$blue:#3c4251;
$light-blue:#464b5e;

//sizes && spacing
$s-Size: 1.2rem;
$m-Size: 1.6rem;
$l-Size: 3.2rem;
$xl-Size:4.8rem;
